<template>
  <div>
    <button v-for="(opt, key) in currentFilters" :key="key"
            v-on:click="activeFilter === key ? toggleFilter(key) : setFilter(key)"
            v-bind:class="{ active: activeFilter === key }">
      {{opt.text}} <template v-if="activeFilter === key">{{reverse ? '↓' : '↑'}}</template>
    </button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'BooksFilter',
  data () {
    return {}
  },
  computed: {
    ...mapState({
      currentFilters: state => state.filters.currentFilters,
      activeFilter: state => state.filters.activeFilter,
      reverse: state => state.filters.reverse
    })
  },
  methods: {
    setFilter(key) {
      this.$store.commit('filters/setActiveFilter', key)
      this.$router.push({
        name: this.$route.name,
        params: {
          ...this.$route.params,
          filterStr: (this.reverse ? '-' : '') + key
        }
      })
    },
    toggleFilter(key) {
      this.$store.commit('filters/toggleReverse')
      this.$router.push({
        name: this.$route.name,
        params: {
          ...this.$route.params,
          filterStr: (this.reverse ? '-' : '') + key
        }
      })      
    }
  }
}
</script>

<style scoped>
  button {
    border: none;
    background-color: transparent;
  }
  .active {
    background-color: lightgrey;
  }
</style>
