<template>
  <div>
    <div v-for="(book, index) in shelf" :key="book.id" class="shelf">
      <div class="page-number" v-if="index % perPage === 0">{{ index / perPage + 1 }}</div>
      <book-item v-bind:book="book"></book-item>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import BookItem from './BookItem'

export default {
  name: 'BooksShelf',
  props: ['shelf'],
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      perPage: state => state.shelves.perPage
    })
  },
  components: {
    BookItem
  }
}
</script>

<style scoped>
  .shelf {
    display: flex;
    flex-direction: column;
  }
  .page-number {
    width: 100%;
    background-color: lightgrey;
    text-align: center;
  }
</style>
