<template>
  <div>
    <button v-for="shelf in shelves" :key="shelf.id"
            v-on:click="changeRoute(shelf.slug)"
            v-bind:class="{ active: shelves[activeShelfIdx].id === shelf.id }">
      {{shelf.name}}
    </button>
    <h1>{{shelves[activeShelfIdx].name}}</h1>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'BooksHeader',
  props: ['shelves'],
  data () {
    return {}
  },
  computed: {
    ...mapState({
      activeShelfIdx: state => state.shelves.activeShelfIdx
    }),
  },
  methods: {
    changeRoute(slug) {
      if (this.$route.params.shelfStr === slug) return
      this.$router.push({ name: this.$route.name, params: { ...this.$route.params, filterStr: null, shelfStr: slug } })
    }
  }
}
</script>

<style scoped>
  button {
    border: none;
    background-color: transparent;
  }
  .active {
    text-decoration: underline;
  }
</style>
