<template>
  <div class="book-container">
    <div class="book-cover">
      <img v-if="cover" v-bind:src="cover" />
    </div>
    <div class="book-info">
      <h3>{{ book.work.title }}</h3>
      <p>{{ book.work.authors_titles }}</p>
      <p>rating: {{ book.work.rating.score }}</p>
    </div>
  </div>
</template>

<script>
import { IMG_SERVER } from '../AppConstants'

export default {
  name: 'BooksItem',
  props: ['book'],
  data () {
    return {
    }
  },
  computed: {
    cover: function() {
      return IMG_SERVER + this.book.work.cover
    } 
  }
}
</script>

<style scoped>
  .book-container {
    display: flex;
    margin: 10px;
  }
  .book-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .book-cover {
    width: 200px;
    height: 300px;
  }
  .book-cover img {
    width: 100%;
    overflow-y: visible;
  }
</style>
