<template>
  <div>
    <books-header v-bind:shelves="shelves"></books-header>
    <books-filter></books-filter>
    <books-shelf v-bind:shelf="shelf"></books-shelf>
    <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading"></infinite-loading>
  </div>
</template>

<script>
import _ from 'lodash'
import InfiniteLoading from 'vue-infinite-loading'
import { mapGetters, mapState } from 'vuex'

import { SHELF_READED } from '../AppConstants'
import BooksHeader from './BooksHeader.vue'
import BooksShelf from './BooksShelf.vue'
import BooksFilter from './BooksFilter.vue'

export default {
  name: 'Books',
  data () {
    return {}
  },
  watch: {
    $route(to, from) {
      if (to.matched[0].path === from.matched[0].path) {
        this.$store.commit('shelves/setActive', to.params.shelfStr)
        this.$store.commit('filters/setCurrentFilters', to.params.shelfStr)
        this.$store.commit('filters/setActiveFilter', to.params)
        this.$store.commit('shelves/clearShelf')
        this.$store.commit('shelves/resetLoadedPage')
        this.$store.commit('shelves/resetAllLoaded')
        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
      }
    }
  },
  computed: {
    ...mapState({
      shelf: state => state.shelves.shelf,
      loadedPage: state => state.shelves.loadedPage,
      allLoaded: state => state.shelves.allLoaded
    }),
    ...mapGetters('shelves', {
      shelves: 'allShelves'
    })
  },
  methods: {
    infiniteHandler($state) {
      this.$store.dispatch(
        'shelves/loadShelf',
        _.includes(this.$route.params.shelfStr, SHELF_READED) ? 1 : 0
      ).then(
        response => {
          if (!this.allLoaded) {
            $state.loaded()
          } else {
            $state.complete()
          }
        },
        error => {
          if (error.status === 404) {
            this.$router.push({ name: '404' })
          } else {
            this.$router.push({ name: '500' })
          }
        }
      )
    }
  },
  components: {
    InfiniteLoading,
    BooksHeader,
    BooksShelf,
    BooksFilter
  }
}
</script>
